.banner {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 90px 0;
    /* background: #EF233C; */

    background: linear-gradient(rgba(36, 54, 54, 0.80), rgba(3, 48, 54, 0.85)), url(.././../Images/agri.jpg);
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 80vh;
   justify-content: center;
}

.banner .container {
    max-width: 750px;
    text-align: center;
    margin-top: 50px;
}

.banner .section-header {
    margin-bottom: 20px;
}

.banner .section-header p {
    color: #EF233C;
    background: transparent;
}

.banner .section-header p::after {
    display: none;
}

.banner .section-header h2 {
    color: #ffffff;
    font-size:70px ;
}

.banner .section-header h2 span {
    color: #EF233C;
    font-size: 50px;
}

.banner .banner-text p {
    font-size: 18px;
    color: #ffffff;
}

.banner .banner-text .btn {
    margin-top: 15px;
    color: #EF233C;
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
}

.banner .banner-text .btn:hover {
    color: #ffffff;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #ffffff;
}


@media (max-width: 500px){
    .banner .section-header h2 {
        color: #ffffff;
        font-size: 50px;
    
    }
  }

  .section-agri {
    position: relative;
    margin-bottom: 45px;
    margin-top: 100px;
}

.section-agri p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
}

.section-agri p::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 11px;
    right: 0;
    left: -30px;
    background: #EF233C;
    z-index: -1;
}

.section-agri p::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    top: 11px;
    left: 3px;
    background: #EF233C;
    z-index: 1;
}

.section-agri h2 {
    margin: 0;
    position: relative;
    font-size: 45px;
    font-weight: 700;
}

.header-agri{
    margin-top: 50px;
}

@media (max-width: 767.98px) {
    .section-agri h2 {
        font-size: 30px;
    }
}


/*******************************/
/********** About CSS **********/
/*******************************/
.about-agri {
    position: relative;
    width: 100%;
    margin: -45px 0 45px 0;
}


.about-agri .col-lg-6 {
    padding: 0;
}

.about-agri .section-header {
    margin-bottom: 30px;
}

.about-agri .about-img {
    position: relative;
    height: 100%;
}

.about-agri .about-img img {
    position: relative;
    
    height: 1000px;
    width: 100%;
    object-fit:contain;
    margin: 10px;
    margin-top: 20px;
}

.about-agri .about-content {
    padding: 0 60px;
}

.about-agri .about-text p {
    font-size: 16px;
}



.about-agri .about-text a.btn {
    margin-top: 15px;
}

.letter{
    margin-top: 100px;
    color: rgb(40, 152, 160);
}

@media (max-width: 991.98px) {
    .about-agri .about-content {
        padding: 45px 15px 0 15px;
    }
}


.agri-container{
    display: flex;
    flex: auto;
    justify-content: center;
}

.agri-img{
    margin: 20px;
    text-align: center;
    align-items: center;
}
.agri-img h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
    
}


.header {
    background: #AF9483;
    height: 70px;
}


@media (max-width: 768px) {
    .header {
        height: 50px;
    }
    .nav-menu a{
        font-size: 8px;
      }
    
  
}


.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

/* .nav-menu ul li {
    min-width: 180px;
}
 */

#nav-menu-container {
    margin: 0;
}




.header .social-nav {
    margin-top: 15px;
}

.header .social-nav a {
    font-size: 24px;
    margin-left: 15px;
    color: #fff;
}

.header .social-nav a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}


.nav-menu a {
    padding: 22px 15px;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
    color: #000000;
}

.nav-menu ul {
    margin: 7px 0 0 15px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
    background: #ffffff;
    border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
    border-top: 0;
}

.nav-menu ul li:hover {
    background: #AF9483;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.nav-menu ul li a {
    color: #333333;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    padding: 10px 15px;
}

.nav-menu ul li a:hover {
    color: #ffffff;
}

.nav-menu ul ul {
    margin: 0;
}


@media (max-width: 780px){
    .nav-menu a {
        padding: 15px 8px;
        text-decoration: none;
        display: inline-block;
        color: #ffffff;
        font-weight: 600;
        font-size: 12px ;
        outline: none;
    }
  }



  .about {
    position: relative;
    width: 100%;
    margin: -45px 0 45px 0;
}

.about .col-lg-6 {
    padding: 0;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 10px;
}

.about .about-content {
    padding: 0 60px;
}

.about .about-text p {
    font-size: 16px;
}



.about .about-text a.btn {
    margin-top: 15px;
}

@media (max-width: 991.98px) {
    .about .about-content {
        padding: 45px 15px 0 15px;
    }
}


